/** @format */

@import "tailwindcss";
@import "@use-pico/client/style/pico.css";

@config '../../tailwind.config.ts';

.bg-road-sign {
	background-image: url("../app/@assets/misc/signpost.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bg-construction {
	background-image: url("../app/@assets/misc/construction.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
